{% extends "header.html" %}

{% block navbar %}
    <li>
        <a class="page-scroll" href="{% url 'register_user' %}">Register Now</a>
    </li>
{% endblock %}

{% block content %}
<section style="background-color: LightBlue">
    <div class="container" class="text-center">
	{% if form.errors %}
		<p>Your username and password didn't match. Please try again.</p>
	{% endif %}

	{% if next %}
	    {% if user.is_authenticated %}
	    <p>Your account doesn't have access to this page. To proceed,
	    please login with an account that has access. {{next}} </p>
	    {% else %}
	    <p>Please login to see this page.</p>
	    {% endif %}
	{% endif %}

	<form method="post" action="{% url 'login_user' %}" class="text-center">
	{% csrf_token %}
	<table>
	<tr>
	    <td>{{ form.username.label_tag }}</td>
	    <td>{{ form.username }}</td>
	</tr>
	<tr>
	    <td>{{ form.password.label_tag }}</td>
	    <td>{{ form.password }}</td>
	</tr>
	</table>

	<input type="submit" value="login" />
	<input type="hidden" name="next" value="{{ next }}" />
	</form>

	<p>{{ next }}</p>

	{# Assumes you setup the password_reset view in your URLconf #}
	<p><a href="{% url 'login_user' %}">Lost password?</a></p>
	<!-- ojooooo quitar login_user y poner lo de lostpassword -->
	
	</div>
</section>

{% endblock %}