{% extends "header.html" %}
    {% load staticfiles %}
    {% load static %}

{% block navbar %}
    <li>
        <a class="page-scroll" href="{% url 'wall_user' %}">{{user.username}}'s Wall</a>
    </li>
    <li>
        <a class="page-scroll" href="{% url 'logout_user' %}">Logout</a>
    </li>
{% endblock %}

{% block content %}

    <style type="text/css">
        body{
       background:url("static\\img\\header.jpg");
       background-size: cover;       /* For flexibility */
       }
    </style>
<body style="background-color: LightBlue">
    <br><br><br><br><br>
    <div style="background-color: rgba(30,30,50,.9);"><br>
        <table >
            <td><table class="text-center">
            <tr><td><a href="{% url 'register_student' %}"><img src="{% static 'img/add_student.png' %}"></a></tr></td>
            <tr><td><a href="{% url 'register_student' %}">Add a Student</a></td></tr>
            </table></td>

            {% for s in students %}
                <td><table>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</table></td> 
                <td>
                    <table class="text-center">
                    <tr>
                        <td>
                        {% if s.gender == 'F' %}
                            <a href="{% url 'st_profile' %}?id={{s.id}}"><img src="{% static 'img/F_student.png' %}"></a>
                        {% elif s.gender == 'M' %}
                            <a href="{% url 'st_profile' %}?id={{s.id}}"><img src="{% static 'img/M_student.png' %}"></a>
                        {% endif %}
                        </td>
                    </tr>
                    <tr><td><a href="{% url 'st_profile' %}?id={{s.id}}"> {{s.name}} </a></td></tr>
                    </table>
                </td> 
            {% endfor %}
        </table>   
    <br></div>
</body>
    <br><br><br><br><br>
{% endblock %}